div.login-container {
    display: flex;
    background-color: #14021b;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

div.login-container div.login-form {
    border-radius: 50px;
    background-color: #300E3E;
    height: 70vh;
    font-weight: 400;
    font-style: normal;
    color: #c1d3d9;
    display: flex;
    flex-direction: column;
    align-items: center;
}

div.login-container div.login-form input.username,
div.login-container div.login-form input.password  {
    width: 80%;
    background-color: #4d1663;
    border: none;
    color: #c1d3d9;
}

div.login-container div.login-form input.username:focus,
div.login-container div.login-form input.password:focus {
    outline: none;
    border-color: transparent;
    box-shadow: none;
}

div.login-container div.login-form input.username::placeholder,
div.login-container div.login-form input.password::placeholder {
    color: #c1d3d967;
}

div.login-container div.login-form button.btn {
    background-color: #c49cff;
}

div.login-container div.login-form span {
    color: #c1d3d967;
}

div.login-container div.login-form span a:hover {
    color: #c1d3d9;
    cursor: pointer;
}